@tailwind base;
@tailwind components;
@tailwind utilities;


iframe {
  z-index: -99999999 !important;
}

.rs-btn-default {
  display: flex !important;
  align-items: center;
}

.rs-dropdown-menu {
  position: absolute;
  width: 93px;
}

.dark .rs-btn-default {
  display: flex !important;
  align-items: center;
  background-color: #161616 !important;
  color: #fff !important;
  border-radius: 0;
  outline: none;
  border: 0;
}

.light .rs-btn-default {
  display: flex !important;
  align-items: center;
  color: #0F0F0F !important;
  background-color: #F6F6F6 !important;
  border-radius: 0;
  outline: none;
  border: 0;
}

.light .rs-dropdown-menu {
  position: absolute;
  width: 93px;
  background-color: #F6F6F6;
  color: #0F0F0F !important;
}

.dark .rs-dropdown-menu {
  position: absolute;
  width: 94px;
  background-color: #161616;
  color: #F6F6F6 !important;
}


.rs-dropdown-toggle-caret {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 2px;
  position: absolute;
  top: 9px !important;
  right: 0px !important;
  height: 20px !important;
  font-size: 10px !important;
}

.rs-dropdown-toggle,
.rs-dropdown-toggle.rs-btn {
  padding-right: 15px;
}

.busd-placement-bottom-start button,
.usd-placement-bottom-start button {
  padding-right: 15px !important;
}

.rs-dropdown-toggle-icon {
  margin-right: 10px !important;
}

.rs-dropdown-item {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.dark .rs-dropdown-item {
  color: #F6F6F6;
}

.dark body {
  background-color: #0F0F0F;
}

.light body {
  background-color: #F6F6F6;
}

.rs-dropdown-item-menu-icon {
  height: 22px;
  width: 22px;
  margin-right: 10px;
}

.rs-dropdown-toggle-icon {
  width: 22px;
  height: 22px;
}

.hide-dropdown .rs-dropdown-toggle-caret {
  display: none;
}

.hide-dropdown .rs-dropdown-menu {
  display: none;
}

.hide-dropdown button {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  cursor: default !important;
  background: none !important;
  outline: none !important;
  background-image: none !important;

}

.hide-dropdown button:active {
  border-style: outset;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.hide-dropdown .rs-ripple {
  display: none;
}

/* 
.hide-dropdown button.active.focus, button.active:focus,
button.focus, button:active.focus, 
button:active:focus, button:focus {
  outline: none;
  box-shadow: none;
  background-color: white;
} */



@media(max-width:500px) {

  .hide-dropdown button,
  .show-dropdown button {
    overflow: inherit !important;
  }

  .usd-placement-bottom-start button {
    padding-right: 36px !important;
  }
}