.switcher {
    /* absolute w-[74%] bottom-[38px] */
    position: absolute;
    bottom: 38px;
    width: 74%;
}

.switcher-style-1 {
    padding: 0 25px;
}

.dark .dark\:switcher-style-1 {
    padding: 0;
}

.width-1 {
    width: 3px;
}

.switcher-body {
    background: #e9e9e9;
}

.dark .switcher-body {
    background: #232323 !important;
}

.swithcer-ele {
    background: #0a0a0a;
}

.dark .swithcer-ele {
    background: rgb(255, 255, 255) !important;
}

.opacity20 {
    opacity: 20%;
}